rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isTeam() {
      return request.auth != null && request.auth.token.email in ['jason.petrella@mrge.com', 'riley.miller-davis@mrge.com'];
    }

    match /threads/{key} {
      allow read, write: if isTeam();
    }

    match /threads/{key}/notes/{noteId} {
      allow read, create: if isTeam();
      allow update, delete: if isTeam() && resource.data.author == request.auth.token.email;
    }

    match /presence/{email} {
      allow read: if isTeam();
      allow write: if isTeam() && email == request.auth.token.email;
    }

    match /templates/{id} {
      allow read, write: if isTeam();
    }

    match /config/{id} {
      allow read, write: if isTeam();
    }

    match /users/{email} {
      allow read: if isTeam();
      allow write: if isTeam() && email == request.auth.token.email;
    }
  }
}
